/* -------------- GENERAL -------------- */
:root{

    --primary-color: #397367ff;
    --secondary-color: #63cccaff;
    --third-color: #5da399ff;
    --fourth-color: #42858cff;
    --background-color: #42424a;

    --text-color: #232323;
}


h1{
    text-transform: uppercase;
}
h2,h3,h4,h5,h6{
    text-transform:capitalize;
}

h2{
    margin: 7vh auto 15px auto;
}

.navbar{
    margin-bottom: 7vh;
}

/* -------------- HOME -------------- */

#particles-js{
    background-color:var(--background-color);
    height:100vh;
}

#home_hero{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform:uppercase;
}

.jumbotron .btn{
    width:17vh;
}

.jumbotron-heading{
    color:white;
}

.jumbotron .lead{
    color:#f5f0f0;
}

/* -------------- ABOUT ME -------------- */

#about_me > *{
    max-width: 100vh;
    margin: 5px auto 5px auto;
    border:none;
}

#about_me > h1, #about_me > h2{
    margin: 7vh auto 15px auto;
}

#about_me img{
    max-height: 35vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


/* colors buttons */

.list-group-item.active#list-1-list{
    background-color:var(--primary-color);
    border-color: var(--primary-color);
}

.list-group-item.active#list-2-list{
    background-color:var(--secondary-color);
    border-color: var(--secondary-color);
}

.list-group-item.active#list-3-list{
    background-color:var(--third-color);
    border-color: var(--third-color);
}

.list-group-item.active#list-4-list{
    background-color:var(--fourth-color);
    border-color: var(--fourth-color);
}

.list-group-item.active#list-5-list{
    background-color:var(--background-color);
    border-color: var(--background-color);
}

/* -------------- PROJECTS -------------- */

.card img {
    max-height: 9rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.card-link{
    margin-bottom: 1.5vh;
}

.card-link:hover{
    background-color: #d7d8db;
    transition: background-color .5s;
}

/* -------------- CONTACT -------------- */

.quote{
    font-style: italic;
    margin: 0 0 3rem 0;
}